# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List some languages used in Data Science
- List some libraries used in Data Science
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JULIA
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. PyTorch

| Data Science Tools |
| ------------------ |
| R Studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Emmanouil Lagoudakis